/* visually hide text and make it still available to assistive technologies */
.sr{
 position:absolute;
 top:-10000em;
}

/*** Headings structure patch ***/
/* h5 style */
h2.p-name{
    font-size: 1rem;
}

/* H4 style */
.sidebar-content h1{
font-size: 1.2rem;
}

/*** date ***/

.blog-date{
    margin:0;
}
