{% set grid_size = themevar('grid-size') %}

<section id="modular-text" class="section {{ page.header.class}}">
    <section class="container {{ grid_size }}">
        {% set image = page.media.images|first %}
        {% if image %}
            {{ image.cropResize(400,400).html('','','align-'~page.header.image_align) }}
        {% endif %}

        {{ content }}
    </section>
</section>
