<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>.fa{height: 30px; padding-top: 5px; font-size: 20px; width: 30px; text-align: center; text-decoration: none; border-radius: 50%; margin: 5px 2px;}.fa a:visited{color: white;}.fa:hover{opacity: 0.7;}.fa-facebook{background: #3B5998; color: white;}.fa-twitter{background: #55ACEE; color: white;}.fa-linkedin{background: #007bb5; color: white;}.fa-youtube{background: #bb0000; color: white;}.fa-instagram{background: #0C9586; color: white;}.fa-snapchat-ghost{background: #fffc00; color: white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;}.fa-reddit{background: #ff5700; color: white;}</style>
	<div>
	    <a href="https://www.youtube.com/channel/UCtzuye6nV7mPz1bgSk79hXQ" class="fa fa-youtube"></a>
            <a href="https://www.reddit.com/user/MrHolshi" class="fa fa-reddit"></a>
            <a href="https://www.snapchat.com/add/mrholshi" class="fa fa-snapchat-ghost"></a>
            <a href="https://www.instagram.com/mrholshi/" class="fa fa-instagram"></a>
            <a href="https://www.linkedin.com/in/grant-hoelscher-86273b91/" class="fa fa-linkedin"></a>
            <a href="https://twitter.com/MrHolshi" class="fa fa-twitter"></a>
            <a href="https://www.facebook.com/grant.hoelscher" class="fa fa-facebook"></a>
        </div>
	<br/>        
    </section>
</section>
