@charset "UTF-8";
html {
  height: 100%;
}

#body-wrapper .container {
  padding: 2rem 0 2rem;
}
.header-fixed #body-wrapper {
  padding-top: 4rem;
}

.header-fixed .hero + #start > #body-wrapper {
  padding-top: 0;
}

div.section {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.overlay-light, .overlay-dark, .overlay-light-gradient, .overlay-dark-gradient {
  z-index: 0;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 7rem;
  background-size: cover;
  background-position: center;
}
.hero h1 {
  color: rgb(36.4166666667, 40.6388888889, 49.0833333333);
  font-size: 4rem;
}
.hero h2 {
  color: rgba(36.4166666667, 40.6388888889, 49.0833333333, 0.8);
  font-size: 2.5rem;
}
.hero.hero-fullscreen {
  min-height: 100vh;
}
.hero.hero-large {
  min-height: 500px;
}
.hero.hero-medium {
  min-height: 400px;
}
.hero.hero-small {
  min-height: 110px;
}
.hero.hero-tiny {
  min-height: 8rem;
}
.header-fixed .hero {
  background-position: 50% 0;
}
@media (max-width: 840px) {
  .hero h1 {
    font-size: 3rem;
  }
  .hero h2 {
    font-size: 1.75rem;
  }
}
@media (max-width: 600px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero h2 {
    font-size: 1.25rem;
  }
}
.hero.text-light h1 {
  color: #fff;
}
.hero.text-light h2 {
  color: rgba(255, 255, 255, 0.8);
}
.hero p {
  font-size: 0.9rem;
  font-weight: 300;
}
.hero #to-start {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  font-size: 2rem;
  cursor: pointer;
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.overlay-light .image-overlay {
  background: rgba(255, 255, 255, 0.4);
}
.overlay-light-gradient .image-overlay {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.2));
}
.overlay-dark .image-overlay {
  background: rgba(0, 0, 0, 0.4);
}
.overlay-dark-gradient .image-overlay {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
}

html {
  font-size: 16px;
}
@media screen and (min-width: 480px) {
  html {
    font-size: calc(16px + 4 * (100vw - 480px) / 800);
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
  color: rgb(58.1388888889, 64.8796296296, 78.3611111111);
}

h1, .h1 {
  font-size: 3rem;
}

h2, .h2 {
  font-size: 1.8rem;
}

h6, .h6 {
  font-weight: 400;
}

.title-center h1, .title-center h2 {
  text-align: center;
}

.title-h1h2 h1 {
  font-weight: 100;
  margin-bottom: 0;
  line-height: 1.1;
}
.title-h1h2 h1 strong, .title-h1h2 h1 bold {
  font-weight: 400;
}
.title-h1h2 h1 + h2 {
  line-height: 1.1;
  margin-top: 0;
}

.title-h1h2 h1 + h2, .title-center h1 + h2 {
  margin-bottom: 50px;
  font-weight: 700;
}

a:focus {
  outline: none !important;
  box-shadow: none !important;
}

img {
  max-width: 100%;
}

.table > table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

pre code, pre.xdebug-var-dump {
  background: #fafafa;
  display: block;
  padding: 1rem !important;
  line-height: 1.5;
  color: inherit;
  border-radius: 2px;
  overflow-x: auto;
}

pre[class*=language-] code {
  border-radius: inherit;
  padding: 0 !important;
  overflow-x: initial;
}

pre code:not(.hljs):not([class*=language-]) {
  background: #f8f8f8;
}

i.fa.fa-heart.pulse, i.fa.fa-heart-o.pulse {
  color: #920;
}

b,
strong {
  font-weight: 700;
}

.heavy {
  font-weight: 700;
}

.light {
  font-weight: 200;
}

.text-light {
  color: rgba(255, 255, 255, 0.8);
}
.text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6 {
  color: rgba(255, 255, 255, 0.9);
}

#error {
  text-align: center;
  position: relative;
  margin-top: 5rem;
}
#error .icon {
  font-size: 50px;
}

#messages {
  margin-bottom: 1rem;
}
#messages .icon {
  font-size: 1rem;
}

ul,
ol {
  margin-left: 1.6rem;
}
ul ul,
ul ol,
ol ul,
ol ol {
  margin-left: 1.6rem;
}

ul {
  list-style: disc outside;
}

ol {
  list-style: decimal outside;
}

.notices {
  margin: 1.5rem 0;
}
.notices p {
  margin: 1rem 0;
}

form {
  /** Reset some defaults for Quark Theme **/
}
form .button-wrapper {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
}
form span.required {
  color: #e85600;
  font-weight: 700;
  font-size: 1.2rem;
}
form .form-input[type=range] {
  -webkit-appearance: slider-horizontal;
     -moz-appearance: slider-horizontal;
          appearance: slider-horizontal;
}
form .form-input[type=range]:focus {
  box-shadow: none;
  border: none;
}
form .form-group:not(.form-field-toggleable) .checkboxes {
  display: inherit;
}
form .form-group:not(.form-field-toggleable) .checkboxes label {
  display: inherit;
  padding: 0.1rem 0.4rem 0.1rem 1.2rem;
  margin: inherit;
}
form .form-group:not(.form-field-toggleable) .checkboxes label:before {
  display: none;
}

#grav-login > form {
  margin: 2rem auto 0;
  max-width: 350px;
}
#grav-login .form-label {
  display: none;
}
#grav-login .form-data {
  margin: 1rem 0;
}
#grav-login .form-input {
  text-align: center;
}
#grav-login .button-wrapper {
  text-align: right;
}
#grav-login .button-wrapper .form-data.rememberme {
  margin: 0;
  float: left;
}
#grav-login .login-form button[type=submit] {
  background: #3085EE;
  border-color: rgb(33.8611607143, 124.6669642857, 236.8388392857);
  color: #fff;
}
#grav-login .login-form button[type=submit]:focus, #grav-login .login-form button[type=submit]:hover {
  background: rgb(24.4352678571, 119.1116071429, 236.0647321429);
  border-color: rgb(18.6089285714, 111.6535714286, 226.5910714286);
  color: #fff;
}
#grav-login .login-form button[type=submit]:active, #grav-login .login-form button[type=submit].active {
  background: rgb(18.9959821429, 113.9758928571, 231.3040178571);
  border-color: rgb(17.8348214286, 107.0089285714, 217.1651785714);
  color: #fff;
}
#grav-login .twofa-form button[type=submit]:first-child {
  background: #3085EE;
  border-color: rgb(33.8611607143, 124.6669642857, 236.8388392857);
  color: #fff;
  float: right;
  margin-left: 4px;
}
#grav-login .twofa-form button[type=submit]:first-child:focus, #grav-login .twofa-form button[type=submit]:first-child:hover {
  background: rgb(24.4352678571, 119.1116071429, 236.0647321429);
  border-color: rgb(18.6089285714, 111.6535714286, 226.5910714286);
  color: #fff;
}
#grav-login .twofa-form button[type=submit]:first-child:active, #grav-login .twofa-form button[type=submit]:first-child.active {
  background: rgb(18.9959821429, 113.9758928571, 231.3040178571);
  border-color: rgb(17.8348214286, 107.0089285714, 217.1651785714);
  color: #fff;
}

.mobile-container {
  position: absolute;
  top: 40%;
  left: 0;
  margin: 0 auto;
  z-index: 2;
}

.mobile-logo svg, .mobile-logo img {
  height: 42px;
  margin-top: 0.7rem;
  margin-left: 1.4rem;
}
.mobile-logo svg path, .mobile-logo img path {
  fill: #fff;
}

.mobile-menu {
  display: none;
  top: 0;
  right: 0;
  z-index: 3;
}
.header-fixed .mobile-menu {
  position: fixed;
}
@media (max-width: 840px) {
  .mobile-menu {
    display: block;
  }
}
.mobile-menu .button_container {
  position: absolute;
  top: 1.3rem;
  right: 1rem;
  height: 24px;
  width: 28px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease, top 0.5s ease;
}
.mobile-menu .button_container:hover {
  opacity: 0.7;
}
.mobile-menu .button_container.active {
  position: fixed;
}
.mobile-menu .button_container.active .top {
  transform: translateY(8px) translateX(0) rotate(45deg);
  background: #FFF;
}
.mobile-menu .button_container.active .middle {
  opacity: 0;
  background: #FFF;
}
.mobile-menu .button_container.active .bottom {
  transform: translateY(-8px) translateX(0) rotate(-45deg);
  background: #FFF;
}
.mobile-menu .button_container span {
  background: #3085EE;
  border: none;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.mobile-menu .button_container span:nth-of-type(2) {
  top: 8px;
}
.mobile-menu .button_container span:nth-of-type(3) {
  top: 16px;
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
}
.overlay.open {
  opacity: 0.95;
  visibility: visible;
  height: 100%;
}
.overlay nav {
  position: relative;
  margin: 0 auto;
  text-align: center;
}

.overlay-menu {
  height: calc(100% - 90px);
  overflow-y: scroll;
}
.overlay-menu > .tree {
  text-align: left;
}

.treemenu.treemenu-root {
  margin: 1rem;
}
.treemenu li {
  list-style: none;
  margin: 0 0 1px;
  padding: 5px 0;
  line-height: 1.2rem;
  background: rgba(101.5833333333, 113.3611111111, 136.9166666667, 0.1);
}
.treemenu li a {
  display: block;
  margin-left: 1.2rem;
  font-size: 1rem;
}
.treemenu li a:hover, .treemenu li a:focus, .treemenu li a.active {
  color: rgb(62.1388392857, 141.3330357143, 239.1611607143) !important;
  text-decoration: none;
}
.treemenu ul {
  margin: 0 0 0 1rem;
}
.treemenu .toggler {
  cursor: pointer;
  vertical-align: top;
  font-size: 1.1rem;
  line-height: 1rem;
  padding-left: 5px;
  float: left;
}
.treemenu .toggler:before {
  display: inline-block;
  margin-right: 2pt;
}
.treemenu li.tree-empty > .toggler {
  opacity: 0.3;
  cursor: default;
}
.treemenu li.tree-empty > .toggler:before {
  content: "•";
}
.treemenu li.tree-closed > .toggler:before {
  content: "+";
}
.treemenu li.tree-opened > .toggler:before {
  content: "−";
}

.mobile-nav-open {
  overflow-y: hidden;
}

.default-animation, .modular-features .feature-icon, .modular-features.small .feature-icon i, #header .logo svg, #header .logo img, #header .navbar-section, #header {
  transition: all 0.5s ease;
}

.pulse {
  animation-name: pulse_animation;
  animation-duration: 2000ms;
  transform-origin: 70% 70%;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulse_animation {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.08);
  }
  50% {
    transform: scale(1);
  }
  60% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#header {
  width: 100%;
  height: 4rem;
  border-bottom: 1px solid rgba(172.3333333333, 179.4444444444, 193.6666666667, 0.2);
  font-size: 0.7rem;
  font-weight: 700;
  background: #fff;
  color: #454d5d;
}
#header a {
  color: #454d5d;
}
#header .logo svg path {
  fill: #222;
}
.header-dark #header:not(.scrolled) {
  background: #222;
  color: #fff;
}
.header-dark #header:not(.scrolled) a {
  color: rgba(255, 255, 255, 0.7) !important;
}
.header-dark #header:not(.scrolled) a.active {
  color: #fff !important;
}
.header-dark #header:not(.scrolled) .dropmenu ul ul a {
  color: #454d5d !important;
}
.header-dark #header:not(.scrolled) .logo svg path {
  fill: #fff;
}
.header-dark.header-transparent #header:not(.scrolled) {
  background: rgba(0, 0, 0, 0.05);
}
.header-transparent #header:not(.scrolled) {
  background: rgba(255, 255, 255, 0.05);
}
#header .navbar-section {
  height: 4rem;
}
@media (max-width: 840px) {
  #header .navbar-section {
    margin-right: 2rem;
  }
}
@media (max-width: 840px) {
  #header .navbar-section.desktop-menu {
    display: none;
  }
}
#header .logo svg, #header .logo img {
  height: 42px;
  display: inherit;
}
.header-fixed #header {
  position: fixed;
  top: 0;
  z-index: 2;
}

body.header-fixed.header-animated #header.scrolled {
  height: 2.3rem;
}
body.header-fixed.header-animated #header.scrolled .navbar-section {
  height: 2.3rem;
}
body.header-fixed.header-animated #header.scrolled .logo svg, body.header-fixed.header-animated #header.scrolled .logo img {
  height: 28px;
}
body.header-fixed.header-animated #header.scrolled ~ .mobile-menu .button_container {
  top: 0.5rem;
}

.login-status-wrapper {
  white-space: nowrap;
}

body.sticky-footer {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body.sticky-footer #page-wrapper {
  flex: 1 0 auto;
}

#footer {
  color: #acb3c2;
  padding: 1rem 1rem 0;
  text-align: center;
}

@media (max-width: 840px) {
  .dropmenu {
    display: none;
  }
}
.dropmenu ul {
  white-space: nowrap;
  margin: 0;
  display: flex;
}
.dropmenu ul li {
  position: relative;
  margin: 0;
}
.dropmenu ul li a {
  text-decoration: none;
  padding: 7px 30px 7px 20px;
  display: block;
}
.dropmenu ul li a:hover, .dropmenu ul li a:focus, .dropmenu ul li a.active {
  color: #3085EE !important;
}
.dropmenu ul li a:before {
  content: "\f107";
  font-family: "FontAwesome";
  display: inline-block;
  vertical-align: middle;
  float: right;
  margin-right: -20px;
}
.dropmenu ul li a:only-child {
  padding-right: 20px;
}
.dropmenu ul li a:only-child:before {
  content: "";
}
.dropmenu ul li:hover > ul {
  display: block;
  visibility: visible;
}
.dropmenu ul ul li a:before {
  content: "\f105";
}
.dropmenu ul ul {
  position: absolute;
  top: 100%;
  list-style: none;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  visibility: hidden;
}
.dropmenu ul ul ul {
  position: absolute;
  left: 100%;
  top: 0;
}
.dropmenu > ul > li {
  display: inline-block;
}
.dropmenu.animated ul li {
  transition: background 0.7s, color 0.5s;
}
.dropmenu.animated ul li:hover > ul {
  opacity: 1;
  transform: translateY(0);
}
.dropmenu.animated ul ul {
  transition: transform 0.3s, opacity 0.5s;
  opacity: 0;
  transform: translateY(-10px);
}

/** Extra columns spacing **/
.extra-spacing:not(.col-12), :not(.col12) > .e-content {
  padding-right: 1rem;
}
@media (max-width: 840px) {
  .extra-spacing:not(.col-12), :not(.col12) > .e-content {
    padding-right: 0;
  }
}

/** Breadcrumbs styling **/
#breadcrumbs {
  padding-left: 0;
  display: flex;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
#breadcrumbs i {
  display: none;
}
#breadcrumbs span, #breadcrumbs a {
  padding: 0 0.5rem;
}
#breadcrumbs span:first-child, #breadcrumbs a:first-child {
  padding-left: 0;
}
#breadcrumbs span:not(:first-child)::before, #breadcrumbs a:not(:first-child)::before {
  color: #e7e9ed;
  content: "/";
  padding-right: 1rem;
}

/** Blog Listing **/
.blog-listing .bricklayer-column {
  padding-left: 0px;
  padding-right: 25px;
}
.blog-listing .card {
  margin-bottom: 25px;
  border: 0;
  box-shadow: 0 10px 45px -9px rgba(0, 0, 0, 0.1);
}
.blog-listing .card-footer {
  text-align: right;
}
.blog-listing .blog-date {
  font-size: 13px;
}
/** Blog Item **/
.content-title {
  margin-bottom: 2rem;
}
.content-title h2 {
  margin-bottom: 0.5rem;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

/** Pagination **/
ul.pagination {
  justify-content: center;
}

.prev-next {
  margin-top: 4rem;
}

/** Sidebar specific tweaks **/
#sidebar ul.related-pages {
  box-shadow: none;
  padding: 0;
  z-index: 1;
}
#sidebar ul.related-pages li {
  border-bottom: 1px solid rgb(230.8888888889, 232.962962963, 237.1111111111);
}
#sidebar ul.related-pages li:last-child {
  border-bottom: 0;
}
#sidebar ul.archives {
  list-style: none;
  margin-left: 0;
}
#sidebar ul.archives .label {
  vertical-align: text-top;
}

.modular-hero #to-start {
  bottom: 3.5rem;
}

.modular-features {
  text-align: center;
}
.modular-features.offset-box .frame-box {
  margin: -3rem -1.4rem 3rem;
  padding: 1rem 1rem;
  background: #fff;
  box-shadow: 0 0 75px 0 rgba(69, 77, 93, 0.1);
}
.modular-features.small .columns {
  margin-top: -1rem;
}
.modular-features.small .column:hover .feature-icon i {
  color: #3085EE;
}
.modular-features.small .feature-icon {
  display: block;
  justify-content: left;
}
.modular-features.small .feature-icon i {
  position: relative;
  display: inherit;
  font-size: 70px;
  margin: 0 auto 1rem;
  transform: none;
  left: auto;
  top: auto;
  color: rgb(172.3333333333, 179.4444444444, 193.6666666667);
}
.modular-features.small .feature-icon h6 {
  text-transform: none;
}
.modular-features .frame-box {
  padding: 3rem 0;
}
.modular-features .frame-box > p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.modular-features .column {
  padding: 1rem;
}
.modular-features .column:hover .feature-icon {
  color: rgb(172.3333333333, 179.4444444444, 193.6666666667);
}
.modular-features .column:hover .feature-icon h6 {
  color: #3085EE;
}
.modular-features .column:hover .feature-content {
  color: rgb(101.5833333333, 113.3611111111, 136.9166666667);
}
.modular-features .feature-icon {
  font-size: 130px;
  height: 100px;
  color: rgb(230.8888888889, 232.962962963, 237.1111111111);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 1rem 0;
}
.modular-features .feature-icon i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.modular-features .feature-icon h6 {
  background: #fff;
  line-height: 1;
  z-index: 1;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  display: block;
  color: rgb(101.5833333333, 113.3611111111, 136.9166666667);
}
.modular-features .feature-content {
  color: rgb(172.3333333333, 179.4444444444, 193.6666666667);
}

.modular-text {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.modular-text .columns.left {
  flex-direction: row-reverse;
}