<span class="blog-date">
    <time class="dt-published" datetime="{{ page.date|date('c') }}" aria-label="{{ 'THEME_QUARK.ARIA_LABELS.BLOG_POST_PUBLISHED_DATE'|t }}">
        <i class="fa fa-calendar" aria-hidden="true"></i> 
        {{ page.date|date(system.pages.dateformat.short) }}
    </time>
</span>
