<div class="p-summary e-content" aria-label="Article summary">
    {% if page.summary != page.content %}
        {{ page.summary|raw }}
    {% else %}
        {{ page.content|raw }}
    {% endif %}
</div>
