{% if theme.blog.show_nav %}
    <p class="prev-next text-center">
        {% if not page.isFirst %}
            <a class="button" href="{{ page.nextSibling.url }}"><i class="fa fa-chevron-left"></i> {{ 'BLOG.ITEM.NEXT_POST'|t }}</a>
        {% endif %}

        {% if not page.isLast %}
            <a class="button" href="{{ page.prevSibling.url }}">{{ 'BLOG.ITEM.PREV_POST'|t }} <i class="fa fa-chevron-right"></i></a>
        {% endif %}
    </p>
{% endif %}
