#blog-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  min-height: 500px;

  #to-start {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    font-size: 2rem;
  }
}

.blog-listing {

  .bricklayer-column {
    padding-left: 0px;
    padding-right: 25px;

  }
  .card {
    margin-bottom: 25px;
    border: 0;
    box-shadow: 0 10px 45px -9px rgba(0,0,0,0.1);
  }

  .card-footer {
    text-align: right;
  }

  .blog-date {
    font-size: 13px;
  }

  .label {

  }
}

.label {

  font-size: 12px;
  text-transform: uppercase;

}