#blog-showcase {
  padding-top: 6rem;
  padding-bottom: 9rem;
  background-size: cover;
  background-position: center;
  position: relative;

  &.parallax {
    background-attachment: fixed;
  }

  h1 {
    font-size: 4rem;
  }

  h1 + h2 {
    margin-top: -40px;
    color: rgba($light-color, 0.6);
  }

  p {
    font-size: 150%;
  }
}