html {
  height: 100%;
}

#body {
  .container {
    padding: $vert-padding;
  }

  // Fixed Header solution
  .header-fixed & {
    padding-top: $header-height-large;
  }
}

section.section {
  padding: 0 $horiz-padding;
}

.default-animation {
  transition: all 0.5s ease;
}





