.mobile-container {
  position: absolute;
  //width: 100%;
  //height: 100%;
  top: 40%;
  left: 0;
  margin:  0 auto;
  z-index: 2;
}

// Hamburger Menu
.mobile-menu {

  display: none;
  top: 0;
  right: 0;
  z-index: 3;

  .header-fixed & {
    position: fixed;
  }

  @include breakpoint(md) {
    display: block;
  }

  .button_container {
    position: absolute;
    top: 1rem;
    right: $horiz-padding;
    height: $mobile-button-height;
    width: $mobile-button-width;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease, top 0.5s ease;

    &:hover {
      opacity: .7;
    }

    &.active {
      position: fixed;

      .top {
        transform: translateY(11px) translateX(0) rotate(45deg);
        background: $mobile-color-active;
      }
      .middle {
        opacity: 0;
        background: $mobile-color-active;
      }

      .bottom {
        transform: translateY(-11px) translateX(0) rotate(-45deg);
        background: $mobile-color-active;
      }
    }

    span {
      background: $mobile-color-main;
      border: none;
      height: 5px;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition:  all .35s ease;
      cursor: pointer;

      &:nth-of-type(2) {
        top: 11px;
      }

      &:nth-of-type(3) {
        top: 22px;
      }
    }
  }
}

.overlay {
  position: fixed;
  background: #000;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;

  &.open {
    opacity: .9;
    visibility: visible;
    height: 100%;

  }
  nav {
    position: relative;
    height: 70%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    text-align: center;
  }
}

.overlay-menu {
  & > .tree {
    min-width: 400px;
    display: inline-block;
    text-align: left;
  }
}


.treemenu {

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    a {
      line-height: 2;
      font-size: 2rem;
    }
  }

  ul {
    margin: 0 0 1rem 3rem;
  }

  .toggler {
    cursor: pointer;
    vertical-align: top;
    font-size: 2.5rem;
    line-height: 1;

    &:before {
      display: inline-block; margin-right: 2pt;
    }
  }

  li.tree-empty  > .toggler {
    opacity: 0.3; cursor: default;

    &:before {
      content: "\2212";
    }
  }

  li.tree-closed > .toggler:before {
    content: "+";
  }

  li.tree-opened > .toggler:before {
    content: "\2212";
  }
}
