// Typography Hints
h1 + h2 {
  margin-top: -20px;
  margin-bottom: 30px;
}

// Font Weights
b,
strong {
  font-weight: 700;
}

.heavy {
  font-weight: 700;
}

.light {
  font-weight: 200;
}

// Error configuration
#error {
  text-align: center;
  position: relative;
  margin-top: 5rem;

  .icon {
    font-size: 50px;
  }
}

#messages {
  margin-bottom: 1rem;

  .icon {
    font-size: 120%;
  }
}

// notices
.notices {
  p {
    margin: 1rem 0;
  }
}

