{% extends 'partials/base.html.twig' %}

{% block content %}
	<div id="error">
		<div>
			<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ page.header.http_response_code }}</h1>
				{{ page.content|raw }}
		</div>
	</div>
{% endblock %}
