{% extends 'partials/base.html.twig' %}

{% set blog = page.find('/blog') %}
{% set show_breadcrumbs = blog.header.show_breadcrumbs|default(true) %}
{% set show_sidebar = blog.header.show_sidebar|default(true) %}
{% set show_pagination = blog.header.show_pagination|default(true) %}
{% set hero_image = page.header.hero_image %}

{% block hero %}
    {% if hero_image %}
    {% set content %}
        <h1>{{ page.title }}</h1>
        <h2>{{ page.header.subtitlte }}</h2>
    {% endset %}
        {% include 'partials/blog/hero.html.twig' with {content: 'foo', blog_image: hero_image, page: blog} %}
    {% else %}
        {% set blog_image = blog.media.images[blog.header.hero_image] ?: blog.media.images|first %}
        {% include 'partials/blog/hero.html.twig' with {content: blog.content, page: blog} %}
    {% endif %}
{% endblock %}

{% block body %}
<section id="body-wrapper" class="section blog-listing">
    <section class="container {{ grid_size }}">

        {% if show_breadcrumbs and config.plugins.breadcrumbs.enabled %}
            {% include 'partials/breadcrumbs.html.twig' %}
        {% endif %}

        {% embed 'partials/layout.html.twig' %}
            {% block item %}
                {% include 'partials/blog-item.html.twig' %}
            {% endblock %}
            {% block sidebar %}
                {% include 'partials/sidebar.html.twig' %}
            {% endblock %}
        {% endembed %}

    </section>
</section>
{% endblock %}

